

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');





*{
    padding: 0px;
    margin: 3px 5px;
    scroll-behavior: smooth;
}
section{
    display: flex; 
    justify-content: center;       
    align-items: center;
    padding: 50px;    
    background-image: linear-gradient(to left, #1C0051, #1F2BCD);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;    
    font-size: 17pt;


}
li{
    width: 120px;
    height: 30px;
    border: 1px solid;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(3, 53, 70);
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: green;
}


#menu{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; 
    justify-content: space-around;
    align-items: center;
    position: fixed;   
    padding: 20px;
    background-color: #ad9106;
    height: 50px;
    width: 100%;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.753);
    

}

 /* Acima disso e o menu  e config de pag geral */   


.container{         
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    width: 800px; 
    height: 400px;
    
                      
}

#perfil{
    
    display: inline-block;
    justify-content: flex-start;
    align-items: center;    
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;  
    
                
}

/* configuração das imagens de perfil */

#animation{    
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    transform-style: preserve-3d;
    transition: 0.9s;  
    
      
}
#animation:hover{
    cursor: pointer;
}
/* config parte da frente */
.lados{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 00px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ad9106ab;
}




#img-verso{   
    backface-visibility: hidden; 
    
    
    
}
#img-frente img{
    border-radius: 50%;
    border: 3px solid #ad9106ab;
    display: flex;
    width: 300px;
    
}
#img-verso img{
    border-radius: 50%;
    border: 3px solid #ad9106ab;
    transform: rotateY(180deg);
    display: flex;
    width: 300px;
    
    
}

.flip{
    transform: rotateY(180deg);
}






.sobre{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 550px;
    height: 500px;
    position: relative;
    left: 70px;
    
    margin: left auto;
    
    
    
    
    

    
}


.sobre h1{
    text-shadow: 2px 2px 1px black;
    padding: 60px 0px;
    font-size: 17pt;
}


/*

@keyframes animacao {        
    0%{transform: translateY(0px);}
    50%{transform: translateY(-80px);}
    100%{transform: translateY(0px);}
}
#perfil{    
    
    animation: animacao 2s linear infinite; /* Chamar a função nomeada no keyframes, tempo para concluir animação, tipo constante, modalidade infinita de rotação 
    

} */


#perfil span{
    
    font-size: 30px;
    display: inline;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.644);
    font-family: 'Rampart One', cursive; 
      
                   
}





